*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  background: #fff;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
}

h1, h2, h3, p { margin: 0; }